$primary: rgb(115, 185, 97); // 主题色
$hoverColor: rgb(157, 206, 144); // hover色
$activeColor: rgb(98, 157, 83); // 按下色
$orange: rgb(255, 125, 0);
$hoverOrange: rgb(249, 188, 131); // hover色
$activeOrange: rgb(230, 111, 0); // 按下色
$selectColor: var(--反风格2, linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02))), var(--主色2, linear-gradient(rgba(115, 185, 97, 0.02), rgba(115, 185, 97, 0.02))),
	var(--风格调, rgba(255, 255, 255, 1));
$backgroundColor: var(--反风格5, linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05))), var(--主色2, linear-gradient(rgba(115, 185, 97, 0.02), rgba(115, 185, 97, 0.02))),
	var(--风格调, rgba(255, 255, 255, 1));
